<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Pixbay Image Search</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="stylesheets/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
</head>

<body style="text-align: center">
    <h1 class="jumbotron">Pixbay Image Search</h1>
    <div>
        <span>Keyword: </span>
        <input type="text" id="searchQuery">
    </div>
    <div>
        <span>Orientation: </span>
        <select id="orientation">
        <option value="horizontal">Horizontal</option>
        <option value="vertical">Vertical</option>
      </select>
        <button id="search">Search</button>
    </div>
    <div class="row" id="images"></div>
    <script src="javascripts/a.js"></script>>
</body>

</html>