<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Pixbay Image Search</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
</head>

<body style="text-align: center">
    <h1>Pixbay Image Search</h1>
    <div>
        <span>Keyword: </span>
        <input type="text" id="searchQuery">
    </div>
    <div>
        <span>Orientation: </span>
        <select id="orientation">
        <option value="horizontal">Horizontal</option>
        <option value="vertical">Vertical</option>
      </select>
        <button id="search">Search</button>
    </div>
    <div class="row" id="images"></div>


    <script>
        function getOrientation() {
            return $("#orientation").children("option:selected").val();
        }

        function getQuery() {
            return $("#searchQuery").val().split(" ").join("%20");
        }

        function getTop(hits) {
            return _.shuffle(hits).slice(0, 4);
        }

        function displayHits(hits) {
            $("#images").html("");
            hits = getTop(hits);
            for (let i = 0; i < hits.length; i++) {
                url = hits[i].largeImageURL;
                likes = hits[i].likes;
                console.log(url);
                console.log(likes);
                $("#images").append(
                    ` <div class="column"> 
                <image src=${url} style="width:100%">
                  <p>${likes}</p>
              </div>
            `
                )
            }
        }
        $("#search").on("click", function() {
            orientation = getOrientation();
            query = getQuery();
            $.ajax({
                method: "GET",
                url: `https://pixabay.com/api/?key=5589438-47a0bca778bf23fc2e8c5bf3e&q=${query}&orientation=${orientation}&image_type=vector&pretty=true`,
                dataType: "json",
                success: function(result, status) {
                    displayHits(result.hits);
                }
            });
        });
    </script>
</body>

</html>